

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>AddProduct</servlet-name>
  	<servlet-class>process.AddEmp</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>EditProduct</servlet-name>
  	<display-name>EditProduct</display-name>
  	<description></description>
  	<servlet-class>process.EditEmp</servlet-class>
  </servlet>
 >
  <servlet-mapping>
  	<servlet-name>AddEmp</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>EditEmp</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
</web-app>